.receipt-list > * {
  margin: 1em;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-between > * :last-child {
  margin-right: 0;
}

.flex-row-between > * {
  margin-right: 0.5em;
}

.receipt > * {
  margin: 0.5em;
}
